<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:bdasilva641@gmail.com">My Email</a></li>
			<li><button class="btn" onclick="location.href='https://github.com/briandasilva'" value="Visit my Github profile."><i class="fa fa-github-square" aria-hidden="true"></i></button>				
        		<li><a href="https://github.com/briandasilva">
				<img src = "img/icon/GitHub/GitHub-Mark-32px.png" alt="GitHub"></a></li>
			      <li><a href="https://www.linkedin.com/in/brian-da-silva/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
